/* Blog */

.blog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__articulo {
        @include flex(flex,space-between);
        flex-direction: row;
        margin-bottom: 3rem;
    }
    &__img {
        flex-basis: 40%;
    }
    &__txt {
        flex-basis: calc(60% - 3rem);
        font-size: 5rem;
    }
    &__titulo {
        margin: 0;
        &:hover {
            color: black;
            font-weight: 900;
        }
    }
    &__link {
        text-decoration: none;
        color: black;
        font-weight: 400;
        margin: 0;
        &::after {
            content: '';
            display: block;
            max-width: 50%;
            height: 0.5rem;
            background: rgba(255, 115, 0, 0.712);
            border-radius: 0.5rem;
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;
        }
        &:hover {
            color: black;
        }
    }
    &__parrafo {
        font-size: 2rem;
        line-height: 4rem;
        margin: 0;
    }
}

@media only screen and (min-width: 320px) and (max-width: 968px) {
    .blog {
        padding: 2rem;
        &__articulo {
            flex-direction: column;
        }
    }
}