/* Blog Index */
.blogprincipal {
    @include flex(flex, space-between);
    flex-direction: column;
    align-content: center;
    &__articulo {
        display: flex;
        justify-content: space-between;
        margin-top: 3rem;
        margin-bottom: 3rem;
        .blogprincipal__img {
            flex-basis: 40%;
        }
        .blogprincipal__txt {
            flex-basis: calc(60% - 3rem);
            font-size: 1.6rem;
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
        }
        .blogprincipal__btn {
            margin: 0 auto;
            margin-left: 0;
            float: left;
        }
        .blogprincipal__titulo {
            text-decoration: none;
            color: black;}       
        }
        .blogprincipal__autor::after {
            content: "";
            display: block;
            width: 20%;
            height: 1rem;
            background-color: rgba(255, 115, 0, 0.712);
            border-radius: 0.5rem;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
        .blogprincipal__tituloResponsive {
            display: none;
        }}

@media only screen and (min-width: 320px) and (max-width: 968px) {
    .blogprincipal {
        &__articulo {
            flex-direction: column;
        }
        &__btn {
            float:left;
        }
        &__separador {
            width: 50%;
            margin-top: 2.5rem;
            margin-bottom: 2.5rem;
        }
        &__titulo {
                display: none;
            }
        .blogprincipal__tituloResponsive {
            display: block;
            text-align: center;
            text-decoration: none;
            color: black;
            margin-bottom: 1.5rem;
            }
        .blogprincipal__btn {
            margin: 0 auto;
            float: none;
            }
        .blogprincipal__autor::after {
            display: none;
            }               
        }


    }    